@page "/categories/edit/{Id:int}"
@rendermode InteractiveServer
@using DEmoCRUD_2.Models
@using DEmoCRUD_2.Services
@inject ICategoryService CategoryService

<h3>Update</h3>

<EditForm Model="category" FormName="categoryEdit" OnValidSubmit="SaveCategory">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Name:</label>
        <InputText @bind-Value="category.Name" class="form-group"/>
        <ValidationMessage For="() => category.Name" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </div>
</EditForm>

@code {
    public Category category = new Category();
    [Inject] private NavigationManager Navigation { get; set; }
    [Parameter] public int Id { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        category = await CategoryService.GetCategoryByIdAsync(Id);
    }
    
    private async Task SaveCategory()
    {
        category.Id = Id;
        await CategoryService.UpdateCategoryAsync(category);
        Navigation.NavigateTo("/categories", true); 
        
    }
}